In [12]:
import numpy as np, pandas as pd

In [19]:
data = pd.read_csv("../data/cleaned_data.csv")

In [20]:
data.head(3).transpose()

,0,1,2
budget,237000000,300000000,245000000
genres,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Adventure', 'Fantasy', 'Action']","['Action', 'Adventure', 'Crime']"
keywords,"['culture clash', 'future', 'space war', 'spac...","['ocean', 'drug abuse', 'exotic island', 'east...","['spy', 'based on novel', 'secret agent', 'seq..."
original_language,en,en,en
overview,"In the 22nd century, a paraplegic Marine is di...","Captain Barbossa, long believed to be dead, ha...",A cryptic message from Bond’s past sends him o...
popularity,150.438,139.083,107.377
production_companies,"['Ingenious Film Partners', 'Twentieth Century...","['Walt Disney Pictures', 'Jerry Bruckheimer Fi...","['Columbia Pictures', 'Danjaq', 'B24']"
production_countries,"['United States of America', 'United Kingdom']",['United States of America'],"['United Kingdom', 'United States of America']"
release_date,2009-12-10,2007-05-19,2015-10-26
revenue,2787965087,961000000,880674609
runtime,162,169,148
spoken_languages,"['English', 'Español']",['English'],"['Français', 'English', 'Español', 'Italiano',..."
vote_average,7.2,6.9,6.3
vote_count,11800,4500,4466
title,Avatar,Pirates of the Caribbean: At World's End,Spectre
cast,"[{'order': 0, 'gender': 2, 'character': 'Jake ...","[{'order': 0, 'gender': 2, 'character': 'Capta...","[{'order': 0, 'gender': 2, 'character': 'James..."
crew,"[{'credit_id': '52fe48009251416c750aca23', 'de...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
year,2009,2007,2015
month,12,5,10
day,10,19,26
dow,3,5,0

### Yearly Trend

In [23]:
data.groupby("year").size()

year
1916      1
1925      1
1927      1
1929      2
1930      1
1932      1
1933      2
1934      1
1935      1
1936      2
1937      2
1938      2
1939      3
1940      5
1941      1
1942      2
1944      2
1945      4
1946      3
1947      3
1948      3
1949      2
1950      1
1951      3
1952      4
1953      4
1954      4
1955      2
1956      3
1957      2
       ...
1987     31
1988     31
1989     32
1990     29
1991     30
1992     34
1993     47
1994     55
1995     70
1996     97
1997    112
1998    133
1999    171
2000    166
2001    183
2002    203
2003    169
2004    204
2005    216
2006    235
2007    195
2008    227
2009    246
2010    225
2011    221
2012    208
2013    231
2014    237
2015    212
2016    104
Length: 89, dtype: int64

In [24]:
data = data[data["year"]>1949]

In [25]:
data.shape

(4745, 21)

#### Increasing budget across years

In [26]:
data.groupby("year").budget.mean()

year
1950    3.768785e+06
1951    4.116667e+06
1952    1.817700e+06
1953    1.802500e+06
1954    3.227500e+06
1955    6.000000e+05
1956    3.166667e+06
1957    1.675000e+06
1958    3.000000e+06
1959    3.794616e+06
1960    2.268983e+06
1961    3.580000e+06
1962    4.744571e+06
1963    8.712625e+06
1964    5.298000e+06
1965    6.100000e+06
1966    2.162967e+06
1967    3.875000e+06
1968    4.201900e+06
1969    5.444409e+06
1970    8.570162e+06
1971    3.217700e+06
1972    1.579111e+06
1973    3.957309e+06
1974    3.885625e+06
1975    4.450000e+06
1976    6.100000e+06
1977    8.344375e+06
1978    9.142858e+06
1979    1.280312e+07
            ...
1987    1.212581e+07
1988    1.043226e+07
1989    1.750812e+07
1990    2.549052e+07
1991    2.410000e+07
1992    2.466546e+07
1993    1.863617e+07
1994    2.564049e+07
1995    3.023357e+07
1996    2.924837e+07
1997    3.444345e+07
1998    2.932662e+07
1999    2.927734e+07
2000    3.285060e+07
2001    3.034982e+07
2002    2.888643e+07
2003    3.156176e+07
2004    3.149411e+07
2005    2.939160e+07
2006    2.824906e+07
2007    3.073153e+07
2008    3.151960e+07
2009    3.107507e+07
2010    3.449541e+07
2011    3.507770e+07
2012    3.492203e+07
2013    3.552329e+07
2014    3.108667e+07
2015    3.163985e+07
2016    4.570327e+07
Name: budget, Length: 67, dtype: float64

In [29]:
data.groupby("year").runtime.mean()

year
1950    107.000000
1951    134.333333
1952    106.750000
1953    106.250000
1954    145.250000
1955    112.500000
1956    103.333333
1957    128.500000
1958    108.000000
1959    136.666667
1960    126.666667
1961    146.400000
1962    141.571429
1963    150.125000
1964    121.200000
1965    131.500000
1966    122.333333
1967    107.000000
1968    124.800000
1969    126.800000
1970    129.166667
1971    108.300000
1972    116.555556
1973    109.444444
1974    113.875000
1975    120.833333
1976    111.000000
1977    115.250000
1978    121.571429
1979    114.000000
           ...
1987    104.870968
1988    105.806452
1989    110.968750
1990    114.379310
1991    108.533333
1992    112.735294
1993    116.510638
1994    111.490909
1995    112.400000
1996    109.711340
1997    111.250000
1998    108.142857
1999    108.175439
2000    106.198795
2001    106.207650
2002    103.783251
2003    105.408284
2004    106.240196
2005    105.375000
2006    105.638298
2007    107.564103
2008    104.207048
2009    104.890244
2010    105.088889
2011    103.828054
2012    103.187500
2013    105.268398
2014    102.194093
2015    103.278302
2016    107.625000
Name: runtime, Length: 67, dtype: float64

In [30]:
data["profit"] = data["revenue"] - data["budget"]

In [31]:
data.groupby("year").profit.mean()

year
1950    4.231215e+06
1951    1.221667e+07
1952    1.098230e+07
1953    1.819750e+07
1954    1.004046e+07
1955    2.900000e+06
1956    8.100000e+06
1957    1.547500e+07
1958    1.457032e+07
1959    1.287205e+07
1960    2.019768e+07
1961    1.131136e+07
1962    2.526618e+07
1963    2.701778e+07
1964    2.940345e+07
1965    6.324456e+07
1966    7.728700e+06
1967    2.807308e+07
1968    1.455355e+07
1969    2.599418e+07
1970    1.209790e+07
1971    2.640648e+07
1972    3.079674e+07
1973    1.026638e+08
1974    4.438527e+07
1975    1.046329e+08
1976    2.704821e+07
1977    8.291556e+07
1978    5.939406e+07
1979    4.905643e+07
            ...
1987    3.811068e+07
1988    5.192702e+07
1989    6.645661e+07
1990    1.077430e+08
1991    6.470358e+07
1992    8.583176e+07
1993    6.395857e+07
1994    8.215501e+07
1995    5.843990e+07
1996    4.093727e+07
1997    5.158107e+07
1998    3.250121e+07
1999    3.114804e+07
2000    3.312662e+07
2001    4.216313e+07
2002    4.308331e+07
2003    5.254072e+07
2004    4.830338e+07
2005    3.973613e+07
2006    4.254197e+07
2007    5.384089e+07
2008    4.842084e+07
2009    5.458612e+07
2010    5.594270e+07
2011    5.775524e+07
2012    8.114388e+07
2013    6.582516e+07
2014    7.068755e+07
2015    7.578951e+07
2016    9.334632e+07
Name: profit, Length: 67, dtype: float64

#### decreasing vote_avg of people

In [32]:
data.groupby("year").vote_average.mean()

year
1950    7.300000
1951    7.166667
1952    7.225000
1953    6.750000
1954    7.250000
1955    7.350000
1956    6.266667
1957    7.950000
1958    7.600000
1959    6.933333
1960    7.866667
1961    7.260000
1962    7.000000
1963    6.787500
1964    7.220000
1965    6.900000
1966    6.733333
1967    6.825000
1968    6.860000
1969    6.600000
1970    6.650000
1971    6.640000
1972    7.033333
1973    7.000000
1974    7.150000
1975    7.300000
1976    7.100000
1977    6.537500
1978    6.628571
1979    6.475000
          ...
1987    6.287097
1988    6.316129
1989    6.493750
1990    6.317241
1991    6.180000
1992    6.561765
1993    6.472340
1994    6.318182
1995    6.330000
1996    6.134021
1997    6.254464
1998    6.212030
1999    6.110526
2000    5.956024
2001    6.046995
2002    6.096552
2003    6.012426
2004    6.104412
2005    6.074074
2006    6.118298
2007    6.088205
2008    6.095154
2009    6.061789
2010    5.968000
2011    6.041629
2012    5.909615
2013    6.089177
2014    5.571308
2015    5.612264
2016    5.833654
Name: vote_average, Length: 67, dtype: float64

In [37]:
data.groupby("year").vote_count.mean()

year
1950      22.000000
1951     120.666667
1952     282.000000
1953      73.750000
1954     350.750000
1955     107.000000
1956      44.000000
1957    1310.000000
1958     165.000000
1959     287.333333
1960     948.000000
1961     176.200000
1962     482.000000
1963     241.750000
1964     514.200000
1965     264.375000
1966     463.666667
1967     180.000000
1968     607.600000
1969     186.200000
1970     105.333333
1971     255.900000
1972     809.000000
1973     509.666667
1974     798.750000
1975    1322.500000
1976     640.333333
1977     663.312500
1978     426.000000
1979     632.687500
           ...
1987     422.258065
1988     492.032258
1989     609.156250
1990     942.482759
1991     588.800000
1992     707.764706
1993     534.595745
1994     949.618182
1995     655.514286
1996     370.536082
1997     579.794643
1998     457.962406
1999     481.865497
2000     461.048193
2001     593.715847
2002     513.817734
2003     616.633136
2004     637.397059
2005     486.254630
2006     547.821277
2007     623.620513
2008     659.048458
2009     679.556911
2010     792.106667
2011     791.022624
2012    1105.668269
2013    1135.939394
2014    1050.544304
2015     992.183962
2016    1146.384615
Name: vote_count, Length: 67, dtype: float64

In [36]:
data.groupby("original_language").size().sort_values(ascending=False)

original_language
en    4452
fr      70
es      32
zh      27
de      24
hi      19
ja      16
it      13
cn      12
ko      11
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ro       2
id       2
ta       2
ar       2
te       1
tr       1
cs       1
vi       1
el       1
hu       1
is       1
sl       1
xx       1
ky       1
nb       1
no       1
pl       1
ps       1
af       1
dtype: int64